 .u-section-1 {
  background-image: url("images/Artboard1.png");
  background-position: 50% 55.53%;
}

.u-section-1 .u-sheet-1 {
  min-height: 968px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 32.3%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1046px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 50% 27.68%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 817px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 646px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 438px;
  }
} .u-section-2 {
  background-image: url("images/blank2x.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 874px;
}

.u-section-2 .u-text-1 {
  font-size: 2.75rem;
  font-style: italic;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 35px auto 0 60px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 45px 30px 0;
}

.u-section-2 .u-video-1 {
  height: 301px;
  width: 488px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -349px 60px 60px auto;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  height: 178%;
  left: -39%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-video-1 {
    height: 295px;
    width: 478px;
    margin-right: 26px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-2 .u-video-1 {
    height: 220px;
    width: 356px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1373px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-video-1 {
    height: 291px;
    width: 518px;
    margin-top: 35px;
    margin-right: auto;
  }

  .u-section-2 .embed-responsive-1 {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1559px;
  }

  .u-section-2 .u-video-1 {
    height: 191px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: url("images/backnotext2x.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 908px;
}

.u-section-3 .u-image-1 {
  width: 248px;
  height: 248px;
  animation-duration: 1000ms;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -27px auto 0 14px;
}

.u-section-3 .u-text-1 {
  font-style: italic;
  font-family: "Akaya Kanadaka";
  transition-duration: 0.5s;
  margin: -140px 407px 0 315px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.125rem;
  margin: 7px 417px 0 352px;
}

.u-section-3 .u-image-2 {
  height: 630px;
  width: 367px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 14px 0 auto;
}

.u-section-3 .u-text-3 {
  font-weight: 300;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  font-size: 2.75rem;
  margin: -540px 471px 0 99px;
}

.u-section-3 .u-text-4 {
  font-size: 1.6875rem;
  font-weight: 700;
  font-family: Lobster, display;
  margin: 27px 427px 0 143px;
}

.u-section-3 .u-gallery-1 {
  height: 349px;
  width: 503px;
  margin: 30px auto 60px 143px;
}

.u-section-3 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-3 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-3 .u-back-image-1 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-3 .u-back-image-2 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-3 .u-back-image-3 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-3 .u-back-image-4 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-3 .u-back-image-5 {
  width: calc(100% + 50px);
  left: -50px;
}

.u-section-3 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-3 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-3 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 749px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -142px;
    margin-right: 222px;
    margin-left: 300px;
    font-size: 3rem;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 9px;
    margin-right: 246px;
    margin-left: 324px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -543px;
    margin-right: 356px;
    margin-left: 14px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 30px;
    margin-right: 327px;
    margin-left: 43px;
  }

  .u-section-3 .u-gallery-1 {
    margin-left: 43px;
  }

  .u-section-3 .u-back-image-1 {
    width: auto;
  }

  .u-section-3 .u-back-image-2 {
    width: auto;
  }

  .u-section-3 .u-back-image-3 {
    width: auto;
  }

  .u-section-3 .u-back-image-4 {
    width: auto;
  }

  .u-section-3 .u-back-image-5 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1064px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -150px;
    margin-right: 0;
    margin-left: 302px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 0;
    margin-right: 13px;
    margin-left: 338px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 17px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 411px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 411px;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 355px;
    height: 355px;
    margin-top: 114px;
    margin-left: 54px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: -54px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: -53px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1405px;
  }

  .u-section-3 .u-image-1 {
    width: 145px;
    height: 145px;
    margin-top: -40px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -10px;
    margin-left: 122px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 170px;
  }

  .u-section-3 .u-image-2 {
    width: 526px;
    margin-top: -7px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -26px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: 205px;
    margin-left: 26px;
  }

  .u-section-3 .u-gallery-1 {
    width: 426px;
    margin-top: 7px;
    margin-left: auto;
    margin-bottom: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1224px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 7px;
    margin-left: 0;
    font-size: 1.875rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    height: 451px;
    margin-top: -24px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.875rem;
    margin-top: -21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 7px;
    margin-right: 31px;
    margin-left: 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 278px;
    margin-top: 21px;
    margin-bottom: 50px;
    height: 349px;
  }

  .u-section-3 .u-carousel-control-1 {
    left: -30px;
  }

  .u-section-3 .u-carousel-control-2 {
    right: -31px;
  }
}

.u-section-3 .u-text-1,
.u-section-3 .u-text-1:before,
.u-section-3 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-1.u-text-1.u-text-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-3 .u-text-1.u-text-1.u-text-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
}

.u-section-3 .u-text-1 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-3,
.u-section-3 .u-text-3:before,
.u-section-3 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-3.u-text-3.u-text-3:hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-3 .u-text-3.u-text-3.u-text-3.hover {
  border-style: solid !important;
  border-top-width: 2px !important;
  border-left-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-color: #404040 !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-3 {
  border-style: solid !important;
  border-width: 0px !important;
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}